h2{margin-bottom:10px;font-size:22px;line-height:40px}

body{
	background:#f1f2f3;
	font-size:62.5%;
	padding:0;
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
*{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
#image_container {
	display:inherit;
	height:54%;
	overflow:scroll;
	overflow-x:hidden;
}

form input {
  width: 100%;
  max-width:320px;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}
form input:valid{
  background: white;
}
form input:focus{
  border-color:#f40000;
}
form label {
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  font-size:1em;
  position: absolute;
  color: #999;
  padding: 7px 6px;
}
form textarea {
  display: block;
  resize: vertical;
}

#wrap{
	width:95%;
	margin:2.5px auto;
	background:#FFF;
}
.column{
  width:30%;
	float:left;
	margin-right:2%;
	border-radius:10px;
	background:#fff;
}
.column1{
  width:25%;
  margin-top:2%;
	float:left;
	margin-right:2%;
	border-radius:10px;
	background:#fff;
}
.column2{
  width:30%;
  margin-top:2%;
  display:none;
	float:left;
	margin-right:2%;
	border-radius:10px;
	background:#fff;
}
.column3{
  width:40%;
  margin-top:2%;
  display:none;
	float:left;
	border-radius:10px;
	background:#fff;
}

.number{
	width:50px;
	height:50px;
	background:#f40000;
	color:#FFF;
	font-size:36px;
	text-align: center;
	border-radius:50%;
	float:left;
	padding-top:1.5px;
	margin-left:10px;
}
.step {
	width: 100%;
	height: auto;
	color: #f40000;
	padding-left: 1%;
	padding-top: 20px;
	float: left;
	position: relative;
}
.step:after{
	content:'';
	width:100%;
	height:3px;
	background:#f40000;
	position:absolute;
	bottom:0;
	right:0;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}
.step2 {
	width: 100%;
	height: auto;
	color: #f40000;
	padding-left: 1%;
	padding-top: 20px;
	float: left;
	position: relative;
}
.step2:after{
	content:'';
	width:100%;
	height:3px;
	background:#f40000;
	position:absolute;
	bottom:0;
	right:0;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}
.step3 {
	width: 100%;
	height: auto;
	color: #f40000;
	padding-left: 1%;
	padding-top: 20px;
	float: left;
	position: relative;
}
.step3:after{
	content:'';
	width:100%;
	height:3px;
	background:#f40000;
	position:absolute;
	bottom:0;
	right:0;
	border-top-left-radius:10px;
	border-bottom-left-radius:10px;
}
.title{
	float:left;
	width:70%;
	margin-left:3%;
	font-size:1.2em;
	font-weight:300;
	margin-top:-5px;
}
.title h1{
	font-weight:300;
}
.content{
	padding:2em 2em;
	width:100%;
	margin:0 auto;
	height:auto;
	display:block;
	float:left;
}
.content label{
	font-size:1.5em;
}
.content input{
	width:100%;
	padding:5px 10px;
	border:1px solid #ccc;
	border-radius:3px;
	display:inline-block;
	font-size: 2em;
}
.content button{
	display:block;
	background:#f40000;
	width:80%;
	margin-left:10%;
	margin-right:10%;
	border:0;
	padding:5px 15px;
	font-size:1.6em;
	color:#FFF;
	border-bottom:3px solid #CF2B35;
	border-radius:2px;
	clear:both;
}
.content .continue{
	display:block;
	float:none;
	background:#f40000;
	width:200px;
	border:0;
	padding:5px 15px;
	font-size:1.6em;
	color:#FFF;
	border-bottom:3px solid #f40000;
	border-radius:2px;
	clear:both;
	text-align:center;
	text-decoration: none;
	margin:15px auto;
}